html,
body {
  margin: 0;
  padding: 0;
  font-family: inter, sans-serif;
  overscroll-behavior: none;
}
.home-container {
  padding: 2em 5em;
  background-color: #422bd8;
}

.home-container h1 {
  font-size: 3rem;
  border-radius: 25px;
  width: max-content;
  padding: 0.1em 0.75em;
  color: #422bd8;
  background: #f8f7ff;
  margin-bottom: 2em;
  font-family: "Permanent Marker", sans-serif;
}

.section-title {
  width: 100%;
  text-decoration: underline;
  font-family: "Permanent Marker", sans-serif;
  color: #422bd8;
  font-size: 1.8rem;
  margin: 0;
}

.badge-section,
.banner-section,
.card-section,
.testimonial-section {
  margin: 3em 0;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 2em;
  border-radius: 20px;
  background: #f8f7ff;
}

/* ---- badge section ---- */
.badge-section {
  flex-direction: column;
  justify-content: space-between;
}

.badge-section h3 {
  margin: auto 2em auto 0;
}

.badge-pill-component,
.badge-square-component {
  display: flex;
  margin: 2em 0;
}

.badge-section div:nth-child(n) {
  margin-right: 1.5em;
}

/* ---- banner section ---- */
.banner-section {
  flex-direction: column;
}

.banner {
  padding: 1.5em;
  margin: 1em 0;
  display: flex;
  border-radius: 5px;
  width: 80%;
}

.banner-empty-component {
  margin: 0;
}

.banner .banner-text h3,
.banner p {
  margin: 0;
}

.banner-empty-component h3 {
  margin: 1em 0;
}

.banner-logo .fa {
  font-size: 1.1rem;
  margin-top: 0.15em;
}

.banner-text {
  margin: auto auto auto 1em;
}

.banner-text p {
  margin: 1em 0 0 0;
}

/* ---- card section ---- */
.card-section {
  min-height: 300px;
}

.card-light-component,
.card-dark-component {
  display: flex;
  flex-direction: column;
  margin: 2em 7em 2em 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 23em;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0.5em;
  position: relative;
  align-items: center;
  margin: 2em auto;
  cursor: pointer;
}

.card h3 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 1em auto 0.75em auto;
}

.card .fa {
  font-size: 3rem;
  margin: 0.25em auto 0 auto;
}

.card p {
  margin: 0 auto 0.5em auto;
}

/* ---- testimonial section ---- */

/* testimonial with pic */
.testimonial-with-pic {
  display: flex;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 10px;
  background: #422bd8;
  color: #fff;
  min-height: 18rem;
  margin: 6em 0;
}

.testimonial-picture {
  width: 21rem;
  border-radius: 20px;
  position: absolute;
  top: -7.5%;
  left: 2%;
}

.testimonial-info {
  margin: auto 1em auto 25em;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.testimonial-info .fa {
  font-size: 2rem;
  color: #bfc1cf;
  opacity: 30%;
}

.testimonial-info-name {
  font-weight: 500;
  font-size: 1.1rem;
}

.testimonial-info-position {
  margin: 0;
  font-size: 1.1rem;
}

/* testimonial with logo */
.testimonial-no-pic {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid #345eeb;
  border-radius: 10px;
  margin: 1em 0;
  padding: 1em 4em 2em 4em;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.testimonial-logo {
  width: 5rem;
  margin: 1em auto;
  border-radius: 30%;
}

.testimonial-info-credentials {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.testimonial-info-credentials .fa {
  margin: auto 1em;
  color: #345eeb;
}

.testimonial-background-top {
  width: 8em;
  rotate: 90deg;
  top: -2%;
  left: 10%;
  position: absolute;
  opacity: 7%;
}

.testimonial-background-bottom {
  width: 11em;
  rotate: 90deg;
  bottom: -2%;
  right: 7%;
  position: absolute;
  opacity: 6%;
}
